/*--------------------------------------------------------------
20.0 Accordion
--------------------------------------------------------------*/
.accordion {
  background-color: $lightGrey;
  max-width: 1050px;
  margin: 50px auto;
  border-top: 6px solid $brandColor;
  line-height: 1.6;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
  &__item {
    border-bottom: 1px solid $brandColor;
  }

  &__title {
    padding: 15px 15px 15px 40px;
    display: block;
    position: relative;
    font-weight: 400;

    &:before {
      font-family: FontAwesome;
      content: "\f055";
      font-size: 20px;
      position: absolute;
      left: 15px;
      top: 12px;
      color: $brandColor;
    }

    h5 {
      border-bottom: 1px solid $lightGrey;
      display:inline-block;
    }

    &:hover,
    &:focus {
      cursor: pointer;
      outline: none;
      h5 {
        border-bottom-color: $brandColor;
        display:inline-block;
      }
    }

    .is-expanded & {
      &:before {
        content: "\f056";
      }

    }
  }

    &__content-inner {
        padding: 0 40px 10px 40px;
    }

  &__content {
    -webkit-transition: height 0.3s ease-out;
    transition: height 0.3s ease-out;
    height: 0;
    overflow: hidden;
  }
}
.accordion__title:before {
  top: 16px;
}
