/*--------------------------------------------------------------
20.0 Accordion
--------------------------------------------------------------*/
.accordion {
  line-height: 1.6;
  &__item {
    border-bottom: 1px solid #f6f6f6;
  }
  &__title {
    padding: 15px 15px 15px 8px;
    display: flex;
    position: relative;
    font-weight: 400;
    h6 {
      display: inline-block;
      font-size: .8em;
    }
    &:hover,
    &:focus {
      cursor: pointer;
      outline: none;
      h6 {
        display:inline-block;
      }
    }
  }
    &__content-inner {
        padding: 0 40px 10px 40px;
    }
  &__content {
    -webkit-transition: height 0.3s ease-out;
    transition: height 0.3s ease-out;
    height: 0;
    overflow: hidden;
  }
}
.accordion__title:before {
  top: 16px;
}
#accordion {
  border: 1px solid $lightGrey;
  border-radius: 5px;
  position: relative;
  i {
    position: absolute;
    color: $white;
    background-color: $accentColor;
    border-radius: 50%;
    padding: 5px;
    font-size: 12px;
    margin-right: 5px;
  }
  h6 {
    margin-left: 30px !important;
  }
  .fa-minus {
    opacity: 0;
    transition: opacity .5s;
  }
  .fa-plus {
    opacity: 1;
    transition: opacity .5s;
  }
  [open] {
    .fa-minus {
      opacity: 1;
      transition: opacity .5s;
    }
    .fa-plus {
      opacity: 0;
      transition: opacity .5s;
    }
  }
  .phone {
    padding: 10px;
    i {
      margin-top: 2px
    }
    a {
      margin-left: 35px;
    }
  }
}
details {
	border-bottom: 1px solid $lightGrey;
	cursor: pointer;
	min-height: 48px;
	max-height: 60px;
	transform-origin: top center;
	transform: rotate(0.1deg);
	transition: all 0.3s;
	::-webkit-details-marker {
		display: none;
	}
	+ details {
		margin-top: -1px;
	}
	// Square Style
	&.square {
		border-radius: 0;
	}
	&[open] {
		transition: all 0.6s;
		min-height: 100px;
		max-height: 5000px;
	}
  p {
    font-size: 16px;
    padding: 10px;
    margin-bottom: 0 !important;
  }
}
summary {
	outline: none;
	font-size: 16px;
	padding: 15px;
	&:selection {
		background: transparent;
	}
	.close {
		display: none;
		[open] & {
			display: inline;
		}
	}
	.open {
		display: inline;
		[open] & {
			display: none;
		}
	}
	[open] & {
		display: inline;
	}
}
