/*--------------------------------------------------------------
8.0 Buttons
--------------------------------------------------------------*/
a,a:visited,a:hover,a:active{
	position: relative;
  transition: 0.5s color ease;
	text-decoration: none;
	color: $accentColor;
	font-weight: 500;
	transition: .1s ease;
}
.whiteButton{
	position: relative;
	z-index: 1;
  font-family: $roboto;
  font-size: 16px;
	font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
	border: 2px solid $white;
	border-radius: 10px;
	background: $transparent;
	padding: 5px 25px 5px 25px;
	color: $white;
	-webkit-transition: .3s ease;
	transition: .3s ease;
	cursor: pointer;
  white-space: nowrap;
	&:after {
		width: 0;
	}
    &:hover{
      background: $white;
    	color: $accentColor;
    	-webkit-transition: .3s ease;
    	transition: .3s ease;
    }
}
.primaryButton{
	position: relative;
	z-index:1;
  font-family: $roboto !important;
	font-weight: 700 !important;
  font-size: 20px !important;
  text-transform: uppercase;
  text-decoration: none;
	border: 2px solid $accentColor;
	background: $accentColor;
	padding: 5px 25px 5px 25px;
	color: $white !important;
	-webkit-transition: .3s ease !important;
	transition: .3s ease !important;
	cursor: pointer;
  white-space: nowrap;
	&:after {
		width: 0;
	}
    &:hover{
      background: $accentColorDark;
			border: 2px solid $accentColorDark;
			box-shadow: 0 6px 18px 0 rgba(0,0,0,.5);
    	-webkit-transition: .3s ease;
    	transition: .3s ease;
    }
}
.primaryButtonAlt{
	position: relative;
	z-index:1;
  font-family: $roboto !important;
	font-weight: 700 !important;
  font-size: 22px;
  text-transform: uppercase;
  text-decoration: none;
	border: 2px solid $black;
	background: $black;
	padding: 10px 25px;
	color: $white !important;
	-webkit-transition: .3s ease !important;
	transition: .3s ease !important;
	cursor: pointer;
  white-space: nowrap;
    &:hover{
      background: $charcoal;
			border: 2px solid $charcoal;
			box-shadow: 0 6px 18px 0 rgba(0,0,0,.5);
    	-webkit-transition: .3s ease;
    	transition: .3s ease;
			color: $white;
    }
}
.primaryButtonBlack{
	position: relative;
	z-index:1;
  font-family: $roboto !important;
	font-weight: 700 !important;
  font-size: 20px !important;
  text-transform: uppercase;
  text-decoration: none;
	border: 2px solid $black;
	background: $black;
	padding: 5px 25px 5px 25px;
	color: $white !important;
	-webkit-transition: .3s ease !important;
	transition: .3s ease !important;
	cursor: pointer;
  white-space: nowrap;
	&:after {
		width: 0;
	}
    &:hover{
      background: $accentColorDark;
			border: 2px solid $accentColorDark;
			box-shadow: 0 6px 18px 0 rgba(0,0,0,.5);
    	-webkit-transition: .3s ease;
    	transition: .3s ease;
    }
}
.buttonWrapper {
	a {
		&:before {
			width: 0%;
		}
	}
}
.plainLink {
	text-decoration: none;
	color: $accentColor;
	-webkit-transition: .2s ease;
	transition: .2s ease;
	&:after {
		width: 0;
	}
	&:hover{
		color: $accentColor;
		-webkit-transition: .2s ease;
		transition: .2s ease;
		#redArrow{
			margin-left: 10px;
			-webkit-transition: .2s ease;
			transition: .2s ease;
		}
	}
}
.centerButton{
	margin: 0 auto;
	text-align: center;
}
button{
	background-color: $transparent;
	border: none;
}
.btnContainer{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	-ms-flex-direction: column;
	    flex-direction: column;
			margin-bottom: 25px;
    @include breakpoint(largeMobileScreen){
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
    }
}
.btn2{
	margin-top: 10px;
	@include breakpoint(largeMobileScreen) {
		margin-left: 15px;
		margin-top: 0;
	}
}
#viewAll {
	font-size: 1.2em;
	@include breakpoint (tabletScreen) {
			margin-left: 25px;
	}
}
#arrowWrap {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
}
#fld_7908577_1{
  position: relative;
	z-index:1;
	text-decoration: none;
  font-family: $roboto;
	font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
	border: 2px solid $accentColor;
	border-radius: 10px;
	background: $accentColor;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
	color: $white;
	-webkit-transition: .2s ease all;
	transition: .2s ease all;
  padding: 10px 20px 10px 20px;
	cursor: pointer;
		&:hover{
			-webkit-transition: .2s ease all;
			transition: .2s ease all;
      background: $accentColor;
      border: 2px solid $accentColor;
      transition: .2s ease all;
			box-shadow: 0 6px 18px 0 rgba(0,0,0,.5);
		}
}
.noDecoration {
	&:after {
		width: 0;
	}
}
#wpadminbar {
	a {
		&:after {
			width: 0;
		}
	}
}
.whiteLink {
	position: relative;
	text-decoration: none;
	color: $white;
	-webkit-transition: .2s ease;
	transition: .2s ease;
		&:after {
			position: absolute;
			content: '';
			bottom: 0;
			left: 0;
			width: 100%;
			height: 2px;
			background-color: $white;
			-webkit-transition: .2s ease;
			transition: .2s ease;
		}
		&:hover{
			color: $white;
			-webkit-transition: .2s ease;
			transition: .2s ease;
			&:after {
				width: 0%;
				-webkit-transition: .2s ease;
				transition: .2s ease;
			}
		}
}
#fleetButton {
	margin-top: 25px;
}
