/*--------------------------------------------------------------
17.0 Careers Page
--------------------------------------------------------------*/
.jobWrapper{
  a {
    &:after{
      width: 0;
    }
  }
}
.awsm-filter-wrap .awsm-filter-item {
  width: 98%;
  @include breakpoint (tabletScreen) {
    width: 30%;
  }
}
.awsm_job_openings {
  .entry-header {
    p {
      display: none;
    }
  }
}
.awsm-job-specification-term:after {
  content: " ";
}
.awsm-job-listings {
  a {
    &:after {
      width: 0;
    }
  }
}
.awsm-job-single-wrap {
  @include breakpoint (laptopScreen) {
    padding: 20px;
  }
}
.awsm-job-form-inner input[type=text], .awsm-job-form-inner input[type=email],
.awsm-job-form-inner input[type=tel], .awsm-job-form-inner textarea{
  box-shadow: 2px 2px 5px rgba(42, 42, 42, 0.3);
  border-top-style: none;
  border-left-style: none;
}
.awsm-job-form-inner input[type=submit] {
  position: relative;
	z-index:1;
  font-family: $prometoMedium;
	font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
	border: 2px solid $brandColor;
	border-radius: 10px;
	background: $brandColor;
	padding: 10px 25px 10px 25px;
	width: -webkit-max-content;
	width: -moz-max-content;
	width: max-content;
	color: $white;
	-webkit-transition: .3s ease;
	transition: .3s ease;
	cursor: pointer;
	&:after {
		width: 0;
	}
    &:hover{
      background: $brandColorDark;
			border: 2px solid $brandColorDark;
			box-shadow: 0 6px 18px 0 rgba(0,0,0,.5);
    	-webkit-transition: .3s ease;
    	transition: .3s ease;
			color: $white;
    }
}
.awsm-job-form-error {
  color: $brandColor;
}
.jobWrapper {
  .page-title {
    display: none;
  }
}
.awsm-job-wrap {
  width: 95%;
}
