/*--------------------------------------------------------------
13.0 Contact Page
--------------------------------------------------------------*/
#contact {
  .col50 {
    @include breakpoint (laptopScreen) {
      padding-right: 20px;
    }
  }
}
.caldera-grid label, .awsm-job-form-inner label{
  color: #000000 !important;
  font-family: $roboto;
  font-weight: 700;
  text-transform: uppercase;
}
.field_required{
  color: $accentColor !important;
}
.CF5ce5ba5c3f551 input[type=text], .CF5ce5ba5c3f551 input[type=email],
#fld_8239328_1, #fld_7683514_1{
  box-shadow: 2px 2px 5px rgba(42, 42, 42, 0.3);
}
#CF5d2cc0bea8332_1-row-1 {
  input {
    box-shadow: 2px 2px 5px rgba(42, 42, 42, 0.3);
  }
}
.caldera-grid a {
  text-decoration: none !important;
}
.caldera-grid .breadcrumb>.active, .caldera-grid .breadcrumb>.active>a {
  color: $accentColor !important;
}
.caldera-grid a:focus, .caldera-grid a:hover {
  color: $accentColor !important;
}
.cf-page-btn-next {
  float: right;
}
#formWrap {
  @include breakpoint (laptopScreen) {
    margin-bottom: 50px;
  }
}
.formWrapper{
  padding: 20px;
  background-color: $lightGrey;
}
.smallMapWrapper {
  padding: 40px 20px 20px 20px;
}
