/*--------------------------------------------------------------
22.0 Connect Page
--------------------------------------------------------------*/
.assistanceCTA {
  background: $white;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 25px;
  @include breakpoint (laptopScreen) {
    margin-bottom: 0;
  }
  a {
    font-size: 1.5em;
    font-weight: 700;
  }
}
.faresTable {
  overflow: auto;
  tr:nth-child(even) {
    background-color: $lightGrey;
  }
  th {
    background: $brandColor;
    padding: 10px 20px;
    text-transform: uppercase;
    font-family: $prometoMedium;
    color: $white;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
    position: relative;
    z-index: 2;
    @include breakpoint (largeMobileScreen) {
      padding: 10px 50px;
    }
    @include breakpoint (laptopScreen) {
      padding: 10px 5px;
    }
  }
  td {
    padding: 20px 10px;
    color: $bodyCopyBlue;
    text-align: center;
    &:nth-child(1) {
      background: $brandColorDark;
      color: $white;
      text-transform: uppercase;
      font-family: $prometoMedium;
      text-align : left;
    }
  }
}
.discountTable {
  th {
    padding: 10px 50px;
  }
}
table {
  position: relative;
  width: 100%;
  border-collapse: collapse;
  p {
    margin-bottom: 0 !important;
    padding: 10px 0;
  }
}
.redRow {
  background-color: $brandColor;
  color: $white;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}
.darkRedCol {
  background-color: $brandColorDark;
  color: $white;
}
.tableTitle {
  background-color: $brandColor;
  color: $white;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}
.tableSubTitle {
  position: absolute;
  top: 85px;
  left: -80px;
  width: 30%;
  background-color: $brandColorDark;
  color: $white;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}
.detailsWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  a {
    height: 100%;
  }
  p {
    width: 60%;
  }
}
.discountTable {
  tr:last-child {
    td{
      background-color: $white;
      color: $bodyCopyBlue;
      font-family: $roboto;
      font-weight: 700;
    }
  }
}
.scrollWrap {
  @include breakpoint (laptopScreen) {
    display: none;
  }
}
