/*--------------------------------------------------------------
25.0 Employee Login Page
--------------------------------------------------------------*/
.passster-form {
  height: 85vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#password-form {
  h4 {
    color: $brandColor;
  }
  button {
    background: $brandColor !important;
    font-family: $prometoMedium !important;
  	font-weight: 700 !important;
    font-size: 16px !important;
    text-transform: uppercase;
  }
}
.passster-form input[type=password] {
  padding: 0;
}
