/*--------------------------------------------------------------
6.0 Footer
--------------------------------------------------------------*/
.site-footer{
	position: relative;
	z-index: 2;
	width: 100%;
	margin: 0 auto;
	background-color: $accentColor;
	a {
		&:after {
			width: 0;
		}
	}
}
.footerContent{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: reverse;
	    -ms-flex-direction: column-reverse;
	        flex-direction: column-reverse;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	@include breakpoint (laptopScreen) {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
	}
}
#copyright{
	color: $white;
	font-size: 10px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin-top: 2px;
		p{
			margin-top: 0;
			margin-bottom: 0 !important;
		}
    @include breakpoint(largeScreen){
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
    }
}
.footerLinkWrap {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	.searchForm {
		@include breakpoint (laptopScreen) {
				margin-left: 10px;
		}
	}
	@include breakpoint (laptopScreen) {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		    -ms-flex-direction: row;
		        flex-direction: row;
	}
}
#FooterMenu {
	-webkit-margin-before: 0;
	        margin-block-start: 0;
  -webkit-padding-start: 0;
     -moz-padding-start: 0;
          padding-inline-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: reverse;
	    -ms-flex-direction: column-reverse;
	        flex-direction: column-reverse;
	@include breakpoint (largeMobileScreen) {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		    -ms-flex-direction: row;
		        flex-direction: row;
	}
	li{
		padding: 10px 10px;
		list-style-type: none;
		a{
			text-decoration: none;
			color: $white;
			font-family: $roboto;
			text-transform: uppercase;
			font-size: 10px;
			font-weight: 500;
			-webkit-transition: .2s ease;
			transition: .2s ease;
			&:hover{
				color: $accentColor;
				-webkit-transition: .2s ease;
				transition: .2s ease;
			}
		}
	}
}
.socialWrapper{
	margin-top: 20px;
	@include breakpoint (laptopScreen) {
		margin-top: 0;
	}
	a{
		text-decoration: none;
		width: 100%;
		height: auto;
	}
}
