/*--------------------------------------------------------------
29.0 Game Day Routes Page
--------------------------------------------------------------*/
.ctaInnerWrap {
  max-width: 400px;
  p {
    padding: 0 10px;
  }
}
.scheduleTable {
  overflow: auto;
  tr:nth-child(even) {
    background-color: $lightGrey;
  }
  th {
    background: $brandColor;
    padding: 10px 20px;
    text-transform: uppercase;
    font-family: $prometoMedium;
    color: $white;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
    position: relative;
    z-index: 2;
    @include breakpoint (largeMobileScreen) {
      padding: 10px 50px;
    }
    @include breakpoint (laptopScreen) {
      padding: 10px 5px;
    }
  }
  td {
    padding: 10px;
    font-size: 14px;
    color: $bodyCopyBlue;
    &:nth-child(1) {
      background: $brandColorDark;
      color: $white;
      font-family: $prometoMedium;
      text-align : left;
    }
  }
  table {
    width: 1500px;
    margin-bottom: 25px;
    @include breakpoint (laptopScreen) {
      width: 100%;
    }
  }
}
.gamedayWrapper {
  .ctaBody {
    @include breakpoint (laptopScreen) {
      border-top: 5px solid $white;
    }
  }
}
