/*--------------------------------------------------------------
3.0 Our page layouts
--------------------------------------------------------------*/
.col20{
	width: 100%;
    @include breakpoint(laptopScreen){
      width: 20%;
    }
}
.col25{
	width: 100%;
    @include breakpoint(laptopScreen){
      width: 25%;
    }
}
.col30{
	width: 100%;
    @include breakpoint(laptopScreen){
      width: 33.3333%;
    }
}
.col30SplitTablet{
	width: 100%;
    @include breakpoint(largeMobileScreen){
      width: 50%;
    }
    @include breakpoint(largeScreen){
      width: 33.3333%;
    }
}
.col40{
	width: 100%;
    @include breakpoint(laptopScreen){
      width: 40%;
    }
}
.col50{
	width: 100%;
    @include breakpoint(laptopScreen){
      width: 50%;
    }
}
.col60{
	width: 100%;
    @include breakpoint(laptopScreen){
      width: 60%;
    }
}
.col70{
	width: 100%;
    @include breakpoint(laptopScreen){
      width: 70%;
    }
}
.col80{
  width: 100%;
    @include breakpoint(laptopScreen){
      width: 80%;
    }
}
.pageWidth{
	width: 95%;
	height: 100%;
	margin: 0 auto;
		@include breakpoint(largeScreen){
	    width: 60%;
	  }
	}
.fullWidth{
  width: 100%;
}
.navWidth{
	height: 100%;
	margin: 0 auto;
	width: 95%;
	@include breakpoint(largeScreen){
		width: 90%;
	}
}
.blockText{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	max-width: 800px;
  margin: 0 auto;
	padding: 0;
    @include breakpoint(laptopScreen){
      padding: 10px;
    }
}
.hero{
	position: relative;
	z-index: 1;
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	height: 60vh;
	background-position: center;
		@include breakpoint(tabletScreen){
      height: 90vh;
			background-position: left;
    }
    @include breakpoint(laptopScreen){
      height: 90vh;
			background-position: left;
    }
	}
.mediumHero{
	position: relative;
	z-index: 1;
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 80vh;
}
.flex-container{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
    @include breakpoint(laptopScreen){
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
    }
}
.flex-container-reverse{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: reverse;
	    -ms-flex-direction: column-reverse;
	        flex-direction: column-reverse;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
    @include breakpoint(laptopScreen){
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
    }
}
.flexWrap {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: baseline;
	    -ms-flex-align: baseline;
	        align-items: baseline;
	@include breakpoint (tabletScreen) {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		    -ms-flex-direction: row;
		        flex-direction: row;
	}
}
.flex-center {
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.wrappedFlexContainer{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.centerAlignedContainer{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.textWrap{
	padding: 0 10px;
	@include breakpoint(tabletScreen) {
		padding: 0 20px;
	}
}
.image{
	width: 100%;
	height: auto;
}
.textBlock{
	max-width: 1000px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
	@include breakpoint (laptopScreen) {
		max-width: 700px;
	}
}
.centerTextBlock {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.greyBlock{
	background: $lightGrey;
}
.darkRedBlock {
	background: $accentColor;
}
.page-content{
	position: relative;
	z-index: 2;
	margin-top: 50px;
	background: $white;
}
.paddedSection{
	padding: 50px 0;
}
.smallPaddedSection{
	padding: 25px 0 25px 0;
	@include breakpoint(laptopScreen){
		padding: 50px 0 50px 0;
	}
}
.tinyPaddedSection{
	padding: 5px 0;
}
.paddedContainer{
	padding: 2em 0;
}
.limitWidth{
  max-width: 1050px;
  margin: 0 auto;
	padding: 0;
	@include breakpoint(laptopScreen){
		padding: 20px;
	}
}
.limitPortfolioWidth{
	max-width: 1350px;
  margin: 0 auto;
	padding: 50px 20px 0 20px;
	@include breakpoint(laptopScreen){
		padding: 20px;
	}
}
.defaultPadding{
	padding: 50px 0;
	@include breakpoint(laptopScreen){
		padding: 150px 0;
	}
}
.removeBottomPadding{
	padding-bottom: 0;
}
.site-content{
	margin-top: 70px;
	@include breakpoint (largeMobileScreen) {
		margin-top: 100px;
	}
	@include breakpoint(laptopScreen){
		margin-top: 140px;
	}
}
.marginTop{
	margin-top: 10px;
}
.removeBottomMargin {
	margin-bottom: -10px;
}
.marginRight{
	margin-right: 30px;
}
.heroIntro {
	margin-bottom: -10px;
}
.fullHeight {
	height: 100%;
}
.paddingBottom {
	padding-bottom: 50px;
	@include breakpoint (laptopScreen) {
		padding-bottom: 0;
	}
}
.paddingTop {
	padding-top: 50px;
}
#simplePageContent {
	margin-top: -10px;
}
.noMargin{
	margin: 0 !important;
}
.smallMargin{
	margin-bottom: 15px;
}
