/*--------------------------------------------------------------
12.0 Services
--------------------------------------------------------------*/
.stickyOuterWrapper {
	width: 30%;
	margin-right: 20px;
	display: none;
	@include breakpoint (laptopScreen) {
		display: block;
	}
	@include breakpoint (extraLargeScreen) {
		width: 20%;
	}
}
.stickyMenuContainer {
	position: -webkit-sticky;
  position: sticky;
  top: 160px;
  z-index: 9998;
}
.stickyMenu {
	display: none;
	background-color: $accentColor;
	border-radius: 15px;
	height: auto;
	box-shadow: 5px 5px 10px rgba(0,0,0,.5);
	padding: 20px;
	@include breakpoint (laptopScreen) {
		display: block;
	}
	.serviceWrapper {
	  img {
	    margin-top: 25px;
	    @include breakpoint (laptopScreen) {
	      margin-top: 0;
	    }
	  }
	}
	#ServiceMenu, #FleetMenu, #ConnectMenu, #ExpressMenu {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		li {
			list-style-type: none;
			padding: 0 5px;
			border-bottom: 1px solid $accentColor;
			line-height: 1em;
			padding: 10px 0;
			a {
				color: $white;
				text-decoration: none;
				font-size: 16px;
				font-family: $roboto;
				text-transform: uppercase;
				-webkit-transition: .2s ease;
				transition: .2s ease;
				&:after {
					width: 0;
				}
				@include breakpoint (extraLargeScreen) {
					font-size: 14px;
				}
				&:hover {
					color: $accentColor;
					-webkit-transition: .2s ease;
					transition: .2s ease;
				}
			}
		}
	}
}
.stickyMenuWrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
.stickyTitle {
	margin-bottom: 15px;
}
.contentWrapper {
	width: 100%;
	@include breakpoint (laptopScreen) {
		width: 70%;
	}
	@include breakpoint (extraLargeScreen) {
		width: 80%;
	}
	img {
		margin-top: 25px;
		@include breakpoint (laptopScreen) {
			margin-top: 0;
		}
	}
}
.serviceBody {
	margin-top: 20px !important;
	@include breakpoint (laptopScreen) {
		margin-top: -10px !important;
	}
	.current-menu-item {
		a {
			color: $accentColor !important;
		}
	}
}
