/*--------------------------------------------------------------
26.0 Travel Alerts
--------------------------------------------------------------*/
.wpfront-message {
  padding: 0 10px;
}
#wpfront-notification-bar div.wpfront-message {
  font-size: 18px;
  font-family: $roboto;
}
.wpfront-button {
  font-family: $prometoMedium !important;
	font-weight: 700 !important;
  font-size: 18px !important;
  text-transform: uppercase;
  text-decoration: none;
  &:after {
    width: 0;
  }
}
#wpfront-notification-bar div.wpfront-close {
  z-index: 1;
}
#wpfront-notification-bar div.wpfront-close {
  top: 14px;
  font-size: 20px;
}
#travelAlerts {
	width: -webkit-max-content;
	width: -moz-max-content;
	width: max-content;
  cursor: pointer;
  background-color: $bodyCopyBlue;
  color: $white;
  padding: 10px;
}
#activeAlerts {
  display: none;
  -webkit-transition: .3s ease-out all !important;
  transition: .3s ease-out all !important;
  li {
    list-style-type: none;
  }
  a {
    &:hover {
      color: $primaryYellow;
      -webkit-transition: .3s ease-out all !important;
      transition: .3s ease-out all !important;
    }
  }
}
.alertsOpen{
	display: block !important;
	-webkit-transition: .3s ease-out all !important;
	transition: .3s ease-out all !important;
}
