/*--------------------------------------------------------------
2.0 Variables
--------------------------------------------------------------*/
/*******************************************************************
Color Variables
*******************************************************************/
$accentColor: #b6ae8c;
$accentColorDark: #a2986c;
$black: #000000;
$darkCharcoal: #303030;
$charcoal: #3B3B3B;
$white: #FFFFFF;
$darkGrey: #d9d9d9;
$lightGrey: #f6f6f6;
$transparent: rgba(0,0,0,0);

/*******************************************************************
Font Variables
*******************************************************************/
$roboto: "Roboto", "Lucida Grande", "Lucida Sans", Geneva, Arial, sans-serif;
$veltro: Veltro-Reg;
$almaq: almaq-rough, sans-serif;
