#wpfooter {
  background-color: #d31b45 !important;
  color: #ffffff !important;
}
#wpfooter a {
  color: #f6f6f6 !important;
}
#wpfooter a:hover {
  color: #bbbbbb !important;
}
#menu-tools, #wp-admin-bar-updates, #wp-admin-bar-new-content,
#toplevel_page_sucuriscan {
  display: none;
}
#menu-appearance li:last-of-type, #menu-plugins li:last-of-type, #menu-dashboard li:last-of-type{
  display: none;
}
#welcome p, #welcome li {
  max-width: 800px;
  font-size: 18px !important;
}
