#wpfooter {
  background-color: #d31b45 !important;
  color: #ffffff !important;
}
#wpfooter a {
  color: #f6f6f6 !important;
}
#wpfooter a:hover {
  color: #bbbbbb !important;
}
#menu-tools, #wp-admin-bar-updates, #wp-admin-bar-new-content, #menu-posts-feedback,
#toplevel_page_sucuriscan, #toplevel_page_berocket_account li:last-of-type,
#toplevel_page_berocket_account li:nth-child(6), #toplevel_page_berocket_account li:nth-child(5),
#menu-appearance li:nth-child(2), #menu-appearance li:nth-child(3), #menu-appearance li:last-of-type,
#menu-settings, #toplevel_page_caldera-forms,
#toplevel_page_jetpack, #toplevel_page_woocommerce li:nth-child(5), #menu-posts-product li:nth-child(5),
#toplevel_page_wc-admin-path--analytics-revenue li:nth-child(8), #menu-posts-product li:nth-child(7),
#menu-appearance li:nth-child(6), #menu-plugins li:nth-child(3){
  display: none;
}
#menu-appearance li:last-of-type, #menu-plugins li:last-of-type, #menu-dashboard li:last-of-type{
  display: none;
}
#welcome p, #welcome li {
  max-width: 800px;
  font-size: 18px !important;
}
