.search-wrap {
	display: none;
	@include breakpoint(laptopScreen) {
		display: flex;
		height: 20px;
	}
}
.search-form-wrap,
#mobile-search {
	input {
		width: 100% !important;
		background-color: $charcoal !important;
		border: 1px solid $darkCharcoal !important;
		padding: 10px !important;
	}
	input::-webkit-input-placeholder {
		color: $white;
	}
	input::-moz-placeholder {
		color: $white;
	}
	input:-ms-input-placeholder {
		color: $white;
	}
	input::-ms-input-placeholder {
		color: $white;
	}
	input::placeholder {
		color: $white;
	}
}
.search-form-wrap {
	text-align: center;
	padding: 10px;
	display: none;
	form {
		display: flex;
		flex-direction: row;
		label {
			width: 100%;
		}
	}
}
#mobile-search {
	text-align: center;
	padding: 10px;
	display: block;
	background-color: $black;
	@include breakpoint(laptopScreen) {
		display: none;
	}
	form {
		display: flex;
		flex-direction: row;
		label {
			width: 100%;
		}
	}
	.search-submit {
		width: 20%;
		padding: 10px;
	}
}
.fa-search {
	opacity: 1;
	transition: opacity 0.3s;
}
.fa-times {
	opacity: 0;
	transition: opacity 0.3s;
}
.searchOpen {
	display: block !important;
}
.icon-toggle {
	.fa-times {
		opacity: 1;
		transition: opacity 0.3s;
	}
	.fa-search {
		opacity: 0;
		transition: opacity 0.3s;
	}
}
.search-btn {
	padding: 0 10px;
	position: relative;
	height: 20px;
	outline: none;
	cursor: pointer;
	i {
		position: absolute;
		top: 0;
		left: 0;
	}
}
// .searchForm {
// 	background-color: $accentColor;
// 	height: 60px;
// 	display: flex;
// 	align-items: center;
// 	justify-content: center;
// 	label {
// 		display: none;
// 	}
// 	@include breakpoint(laptopScreen) {
// 		height: auto;
// 		align-items: normal;
// 	}
// }
// .searchField {
// 	font-family: $roboto;
// 	font-size: 12px;
// 	text-transform: uppercase;
// 	border: none;
// 	border-radius: 30px;
// 	height: 30px;
// 	padding: 10px;
// 	@include breakpoint(smallScreen) {
// 		width: 90%;
// 	}
// 	@include breakpoint(largeMobileScreen) {
// 		width: 90%;
// 	}
// 	@include breakpoint(laptopScreen) {
// 		width: 175px;
// 	}
// }
// .searchIcon {
// 	width: 18px;
// 	height: 18px;
// 	position: relative;
// 	right: 30px;
// 	@include breakpoint(laptopScreen) {
// 		top: 5px;
// 	}
// }
.dgwt-wcas-no-submit .dgwt-wcas-ico-magnifier {
	left: auto;
	right: 12px;
	opacity: 1;
	fill: #fff;
}
